$mainColor: #1a1a1f
$white: #ffffff

.card
    background: transparent
    color: $white
    border-radius: 1rem !important
    border: none
    animation: transitionIn 0.4s forwards
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

.card-header
    border-radius: 1rem 1rem 0 0 !important
    border: none !important
    text-align: center
    padding: 0 !important

.card-footer
    border-radius: 0 0 1rem 1rem !important
    border: none !important

.card-body
    border: none !important

@mixin categoryContainer
    height: 10rem
    width: 100%
    border-radius: 1rem 1rem 0 0
    transition: transform 0.5s ease
    background-size: cover
    background-position: center

.scienceContainer
    background: linear-gradient(to top, #D2D5DCff, #D2D5DC00), url(../assets/images/science.jpg)
    @include categoryContainer

.scienceColor
    background: #D2D5DC

.musicContainer
    background: linear-gradient(to top, #058EB8ff, #058EB800), url(../assets/images/music.jpg)
    @include categoryContainer

.musicColor
    background: #058EB8

.financeContainer
    background: linear-gradient(to top, #78929Fff, #78929F00), url(../assets/images/finance.jpg)
    @include categoryContainer

.financeColor
    background: #78929F

.entertainmentContainer
    background: linear-gradient(to top, #B5C9D2ff, #B5C9D200), url(../assets/images/entertainment.jpg)
    @include categoryContainer

.entertainmentColor
    background: #B5C9D2

.genericContainer
    background: linear-gradient(to top, #B3BCCBff, #B3BCCB00), url(../assets/images/generic.jpg)
    @include categoryContainer

.genericColor
    background: #B3BCCB

.usersContainer
    background: linear-gradient(to top, #000000ff, #00000000), url(../assets/images/users.jpg)
    @include categoryContainer

.usersColor
    background: #000000

.booksContainer
    background: linear-gradient(to top, #696C63ff, #696C6300), url(../assets/images/books.jpg)
    @include categoryContainer

.booksColor
    background: #696C63

.sportsContainer
    background: linear-gradient(to top, #D87438ff, #D8743800), url(../assets/images/sports.jpg)
    @include categoryContainer

.sportsColor
    background: #D87438
