$mainColor: #1a1a1f
$white: #ffffff
$green: #1ed760
$red: #FF0066

html
    scrollbar-width: none

::-webkit-scrollbar
    width: 0

body
    background: linear-gradient(to right, #12121266, #12121266), url(../assets/landing.jpg)
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    background-attachment: fixed
    font-family: 'Tilt Neon', cursive
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased

.cover
    width: 100vw
    height: 70vh
    color: $white
    vertical-align: middle
    display: table-cell
    padding-left: 1rem
    letter-spacing: 0.05rem
    animation: transitionIn 0.4s forwards

.jumbotron
    zoom: 0.95
    padding: 1.5rem 2.2rem
    margin-bottom: 2rem
    background: $white !important
    color: $mainColor
    border-radius: 1rem
    backdrop-filter: blur(0.4rem)
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px

.lead
    font-size: 100%

.nameContainer
    white-space: nowrap
    overflow: hidden

.smalltext
    font-size: 80%
    color: $white

.container
    min-width: 90%

table tr:first-child th:first-child
    border-top-left-radius: 1rem

table tr:first-child th:last-child
    border-top-right-radius: 1rem

table tr:last-child td:first-child
    border-bottom-left-radius: 1rem

table tr:last-child td:last-child
    border-bottom-right-radius: 1rem

th,td,tr
    background: $white !important
    height: 3.75rem
    border: none
    vertical-align: middle
    text-align: center

.link-table,
.link-table:hover
    color: $mainColor

.fa-solid
    padding-left: 0.6rem
    padding-right: 0.6rem
    cursor: pointer

.fa-circle-check
    color: $green

.fa-circle-xmark
    color: $red

.toaster
    font-family: inherit

.user-link
    display: none

.accordion
    margin-bottom: 1rem

.accordion-item
    border-radius: 0.75rem !important
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px

.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:first-of-type .accordion-button
    border-radius: 0.75rem !important

@keyframes transitionIn
    from
        opacity: 0
        transform: rotateX(5deg)

    to
        opacity: 1
        transform: rotateX(0)
