@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap')
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css')

$mainColor: #1c2b33
$white: #ffffff
$inputColor: #f8f8f8
$blurColor: #d3e8f539

html
    scrollbar-width: none

::-webkit-scrollbar
    width: 0

body
    background: linear-gradient(to right, rgba(26, 25, 31, 0.5), rgba(26, 25, 31, 0.5)), url(../assets/hero.jpg)
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    background-attachment: fixed
    font-family: 'Quicksand', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased

.cover
    width: 100vw
    height: 85vh
    color: $white
    vertical-align: middle
    display: table-cell
    padding-left: 1.5rem
    animation: transitionIn 0.3s forwards

.jumbotron
    padding: 2rem 4rem
    margin-bottom: 2rem
    background: $blurColor !important
    color: $white
    border-radius: 1rem
    min-height: 20rem

.card
    background: $blurColor !important
    color: $white
    border-radius: 1rem
    backdrop-filter: blur(0.4rem)
    border: none
    font-weight: bold
    height: 20rem
    animation: transitionIn 0.7s forwards

.card-header,
.card-body,
.card-footer
    border: none
    text-align: center

.lead
    font-size: 120%
    font-weight: bold

.box
    top: 54%
    left: 50%
    position: absolute
    transform: translate(-50%,-50%)
    box-sizing: border-box
    padding: 1.75rem
    background: $white
    color: $mainColor
    width: 22rem
    border-radius: 0.25rem
    text-align: left
    font-weight: bold

.branding
    font-size: 170%
    letter-spacing: 0.1rem
    height: 3.1rem
    text-align: left
    padding-left: 0.8rem

.boxtext
    text-align: left
    padding-left: 0.8rem

.btn
    border: 0.06rem solid transparent !important
    background: $mainColor
    border-radius: 3.1rem
    padding: 0.8rem
    padding-left: 1.4rem
    padding-right: 1.4rem
    margin-right: 1rem
    margin-bottom: 1rem
    color: $white !important
    font-weight: bold
    letter-spacing: 0.05rem

.livebutton
    border: none
    background: $mainColor
    color: $white
    font-weight: bold
    text-transform: uppercase
    padding: 0.5rem 1.7rem
    border-radius: 3.1rem
    font-size: 0.75rem
    margin-top: 0.65rem
    margin-bottom: 1rem
    margin-right: 0.5rem
    margin-left: 0.5rem

.btn:hover,
.btn:focus
    background-color: $mainColor !important

.btnbox
    width: 100% !important

a,
a:hover,
a:focus,
a:active
    color: $mainColor
    text-decoration: none
    cursor: pointer

.boxlink
    color: $mainColor
    text-decoration: none
    cursor: pointer

.searchbar-navbar
    height: 40px
    min-width: 350px !important
    background-color: $inputColor
    font-weight: bold
    font-style: italic
    border: none
    padding-left: 20px
    margin-top: 0
    margin-bottom: 0
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px

.searchbar-navbar:focus
    background: $inputColor

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus
    box-shadow: inset 0 -1px 0 $inputColor

.input-group-text
    background-color: $inputColor
    border: none
    border-top-right-radius: 50px
    border-bottom-right-radius: 50px
    cursor: pointer

.fa-magnifying-glass
    color: #adb5bd

input
    outline: 0
    width: 100%
    height: 3.75rem
    border: none
    border-radius: 3.1rem
    background-color: $inputColor
    color: $mainColor
    margin: 0.3rem 0 1rem
    text-align: left
    padding-left: 1.7rem
    box-sizing: border-box
    font-size: 0.94rem
    font-weight: bold
    letter-spacing: 0.02rem

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

input[type=number]
    -moz-appearance: textfield

#alert
    color: $mainColor
    cursor: pointer
    text-align: center
    font-size: 1rem
    font-weight: bold

.navbar
    background: $white
    min-height: 5.2rem
    z-index: 2
    font-weight: bold
    padding: 1.3rem
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, .2), 0 0.2rem 0.2rem 0 rgba(0, 0, 0, .2)

.navbar-brand
    font-size: 1.2rem
    letter-spacing: 0.1rem
    margin-right: 1.5rem
    cursor: pointer
    color: $mainColor !important

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
    outline: none
    box-shadow: none

@keyframes transitionIn
    from
        opacity: 0
        transform: rotateX(5deg)

    to
        opacity: 1
        transform: rotateX(0)

    .col-lg-4,
    .col-lg-12
        margin-top: 2rem

.container
    min-width: 90%

table tr:first-child th:first-child
    border-top-left-radius: 1.5rem

table tr:first-child th:last-child
    border-top-right-radius: 1.5rem

table tr:last-child td:first-child
    border-bottom-left-radius: 1.5rem

table tr:last-child td:last-child
    border-bottom-right-radius: 1.5rem

th,td,tr
    background: $white !important
    height: 3.75rem
    border: none
    vertical-align: middle
    font-weight: bold
    text-align: center

.fa-solid
    padding-left: 0.6rem
    padding-right: 0.6rem
    cursor: pointer

.fa-circle-check
    color: #1ed760

.fa-circle-xmark,
.fa-circle-plus
    color: #d71e62

.fa-triangle-exclamation
    color: orange
    margin-left: 0.5rem

@media only screen and (max-width: 62rem)
    .lead
        font-size: 90%
